<!DOCTYPE html>
<html>

<head>
    <title>Like Post App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="display-3 color-red">
        <center>DataFlair AJAX Tutorial<br>Post APP</center>
    </div>
    <!-- {% for post in posts %}
    <div class='container jumbotron'>
        <h3 class="display-5">{{ forloop.counter }}. {{ post.post_heading }}</h3>
        <p class="lead">{{ post.post_text }} </p>
        <p>
            <div type="text/css" class="container">Author : {{ post.post_author }}</div>
            
        </p>
        <p id="message{{post.id}}">
        </p>
    </div>
    {% endfor %} -->
    
        <select id="month_choice">
            <option value="1">Janvier</option>
            <option value="2">Février</option>
            <option value="3">Mars</option>
            <option value="4">Avril</option>
            <option value="5">Mai</option>
        </select>

        <select id='trip_type'>
            <option value="plage et soleil">Plage et soleil</option>
            <option value="ski, neige et montagne">Ski, neige et montagne</option>
            <option value="nature, randonnées et visites">Nature, randonnées et visites</option>
        </select>

        <a class="suggest btn btn-primary btn-lg"  href="#">Voir les suggestions</a>


        <div id="content_suggestions">          
            
        </div>


    <script type="text/javascript">

        //Affichage pays selon critères
        $(".suggest").click(function () {
            var month;
            var type;
            month = $("#month_choice option:selected").val();
            type = $("#trip_type option:selected").val();
            //console.log(month + " " + type)
            $.ajax(
                {
                    type: "GET",
                    url: "suggest",
                    data: {
                        travel_month: month,
                        travel_type: type
                    },
                    success: function (data) {
                        console.log('ca marche');
                        console.log(data['suggestions'])
                        $("#content_suggestions").html(data['suggestions']);
                    },
                    error: function(){
                        console.log("ca marche pas")
                     }

                })
        });

        // Affichage des info selon pays séléctionné
        $(document).on('click', '.country', function () {
            var country;
            var month;
            country = $(this).attr('lk_up');
            month = $("#month_choice option:selected").val();
            alert(country);

            $.ajax(
                {
                    type: "GET",
                    url: "country_info",
                    data: {
                        selected_country: country,
                        selected_month: month
                    },
                    success: function (data) {
                        
                        console.log('ca marche');
                        console.log(data.cities_info[0].name);
                        
                        $.each(data.cities_info, function(i, item){
                            $(".info_" + country).append('<span>'+ JSON.parse(JSON.stringify(data.cities_info[i].name)) +'</span>');
                         });
                        
                        
                    },
                    error: function(){
                        console.log("ca marche pas")
                     }

                })
        });
    </script>
</body>

</html>






<!-- <script type="text/javascript">
    $(".suggest").click(function () {
        var month;
        var type;
        month = $("#month_choice").val();
        type = $("#trip_type").val();
        $.ajax(
            {
                type: "POST",
                url: "like",
                data: {
                    travel_month: month,
                    travel_type: trip
                },
                success: function (data) {
                    alert('ca marche');
                    /* $( '#like'+ id ).removeClass('btn btn-primary btn-lg'); 
                     $( '#like'+ id ).addClass('btn btn-success btn-lg'); */
                }
            })
    });
</script> -->