<!DOCTYPE html>
<html lang="en">

<head>

	<title>Travelix</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Travelix Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap4/bootstrap.min.css" %}" />
	<link href="{% static "plugins/font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{% static "styles/main_styles.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/responsive.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/custom_style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "plugins/OwlCarousel2-2.2.1/owl.carousel.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "plugins/OwlCarousel2-2.2.1/owl.theme.default.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "plugins/OwlCarousel2-2.2.1/animate.css" %}">
</head>

<body>

	<div class="super_container">

		<!-- Header -->

		{% comment %} <header class="header">

			<!-- Main Navigation -->

			<nav class="main_nav">
				<div class="container">
					<div class="row">
						<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<div class="logo"><a href="#"><img src="{% static "images/logo.png" %}"
											alt="">travelix</a></div>
							</div>
							<div class="main_nav_container ml-auto">
								<ul class="main_nav_list">
									<li class="main_nav_item"><a href="#">home</a></li>
									<li class="main_nav_item"><a href="about.html">about us</a></li>
									<li class="main_nav_item"><a href="offers.html">offers</a></li>
									<li class="main_nav_item"><a href="blog.html">news</a></li>
									<li class="main_nav_item"><a href="contact.html">contact</a></li>
								</ul>
							</div>
							<form id="search_form" class="search_form bez_1">
								<input type="search" class="search_content_input bez_1">
							</form>

							<div class="hamburger">
								<i class="fa fa-bars trans_200"></i>
							</div>
						</div>
					</div>
				</div>
			</nav>

		</header> {% endcomment %}

		<div class="menu trans_500">
			<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
				<div class="menu_close_container">
					<div class="menu_close"></div>
				</div>
				<div class="logo menu_logo"><a href="#"><img src="{% static "images/logo.png" %}" alt=""></a></div>
				<ul>
					<li class="menu_item"><a href="#">home</a></li>
					<li class="menu_item"><a href="about.html">about us</a></li>
					<li class="menu_item"><a href="offers.html">offers</a></li>
					<li class="menu_item"><a href="blog.html">news</a></li>
					<li class="menu_item"><a href="contact.html">contact</a></li>
				</ul>
			</div>
		</div>

		<!-- Home -->

		<div class="home">

			<!-- Home Slider -->

			<div class="home_slider_container">

				<div class="owl-carousel owl-theme home_slider">

					<!-- Slider Item -->
					<div class="owl-item home_slider_item">
						<!-- Image by https://unsplash.com/@anikindimitry -->
						{% load static %}
						<div class="home_slider_background"
							style="background-image: url('{% static 'images/home_slider.jpg' %}');"></div>

						<div class="home_slider_content text-center">
							<div class="home_slider_content_inner" data-animation-in="flipInX"
								data-animation-out="animate-out fadeOut">
								<h1>discover</h1>
								<h1>the world</h1>
								<div class="button home_slider_button">
									<div class="button_bcg"></div><a href="#" id="explore">explore
										now<span></span><span></span><span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>

		</div>

		<!-- Search -->

		<div class="search">


			<!-- Search Contents -->

			<div class="container fill_height">
				<div class="row fill_height">
					<div class="col fill_height">


						<div class="search_panel active">
							<form action="#" id="search_form_1"
								class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<div class="search_item">
									<div>Type de voyage</div>
									<select name="trip_type" id="trip_type" class="dropdown_item_select search_input">
										<option value="plage et soleil">Plage et soleil</option>
										<option value="ski, neige et montagne">Ski, neige et montagne</option>
										<option value="nature, randonnées et visites">Nature, randonnées et visites
										</option>
									</select>
								</div>
								<div class="search_item">
									<div>Mois</div>
									<select name="month_choice" id="month_choice" class="dropdown_item_select search_input">
										<option value="1">Janvier</option>
										<option value="2">Février</option>
										<option value="3">Mars</option>
										<option value="4">Avril</option>
										<option value="5">Mai</option>
										<option value="6">Juin</option>
										<option value="7">Juillet</option>
										<option value="8">Août</option>
										<option value="9">Septembre</option>
										<option value="10">Octobre</option>
										<option value="11">Novembre</option>
										<option value="12">Décembre</option>
									</select>
								</div>
								<button
									class="button search_button suggest">search<span></span><span></span><span></span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Intro -->

		<div class="intro">
			<div class="container">

					<!-- CONTINENT AND COUNTRIES-->
					{% comment %} <div class="our_suggestions ">
						<h2 class="text-center">Nos suggestions</h2>
						<p class="text-center">En un rien de temps...</p>
					</div> {% endcomment %}

					<div class="col-lg-12" id="our_suggestions">
						<div id="our_suggestions_content">
							<h2 class="text-center">Nos suggestions</h2>
							<p class="text-center">En un rien de temps...</p>
						</div>
                    </div>


				</div>
			</div>
		</div>



		<!-- Copyright -->

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 order-lg-1 order-2  ">
						<div class="copyright_content d-flex flex-row align-items-center">
							<div>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved | This
								template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
									href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</div>
						</div>
					</div>
					<div class="col-lg-9 order-lg-2 order-1">
						<div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
							<div class="footer_nav">
								<ul class="footer_nav_list">
									<li class="footer_nav_item"><a href="#">home</a></li>
									<li class="footer_nav_item"><a href="about.html">about us</a></li>
									<li class="footer_nav_item"><a href="offers.html">offers</a></li>
									<li class="footer_nav_item"><a href="blog.html">news</a></li>
									<li class="footer_nav_item"><a href="contact.html">contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div id="fullscreen_info">
	<a href="#" class="close"></a>
		<div id="fullscreen_content">
	
		</div>
	</div>

	<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "styles/bootstrap4/popper.js" %}"></script>
	<script src="{% static "styles/bootstrap4/bootstrap.min.js" %}"></script>
	<script src="{% static "plugins/OwlCarousel2-2.2.1/owl.carousel.js" %}"></script>
	<script src="{% static "plugins/easing/easing.js" %}"></script>
	<script src="{% static "js/custom.js" %}"></script>


	<script src="{% static "js/ajax_display_countries.js" %}"></script>
	<script src="{% static "js/ajax_display_country_info.js" %}"></script>
	<script src="{% static "js/scroll_to_div_search.js" %}"></script>

</body>

</html>